absl-py==0.12.0
addict==2.2.1
alabaster==0.7.12
alembic==1.3.1
asn1crypto==1.2.0
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
attrs==19.3.0
audioread==2.1.8
Babel==2.9.0
backcall==0.1.0
batchgenerators==0.21
beautifulsoup4==4.8.2
bert-extractive-summarizer==0.6.1
bio==0.2.4
biopython==1.78
bleach==3.1.0
blis==0.4.1
boto==2.49.0
boto3==1.12.12
botocore==1.15.12
bz2file==0.98
cached-property==1.5.2
cachetools==4.2.2
captum==0.3.0
catalogue==2.0.4
cdt==0.5.22
certifi==2020.12.5
certipy==0.1.3
cffi==1.13.2
chardet==4.0.0
click==7.1.1
cloudpickle==1.3.0
conda==4.8.3
conda-package-handling==1.6.0
contextvars==2.4
cryptography==2.8
cycler==0.10.0
cymem==2.0.3
Cython==0.29.15
cytoolz==0.10.1
dask==2.11.0
dataclasses==0.8
deap==1.3.1
decorator==4.4.1
defusedxml==0.6.0
dicom==0.9.9.post1
dill==0.3.2
docopt==0.6.2
docutils==0.15.2
EasyProcess==0.3
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
entrypoint2==0.2.3
entrypoints==0.3
facenet-pytorch==2.2.9
filelock==3.0.12
flatbuffers==1.12
future==0.18.2
futures==3.1.1
gast==0.4.0
gensim==3.8.0
google-auth==1.30.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
googledrivedownloader==0.4
goslate==1.5.1
GPUtil==1.4.0
graphviz==0.13.2
grpcio==1.34.1
h5py==3.1.0
idna==2.10
ignite==1.1.0
imageio==2.6.1
imagesize==1.2.0
immutables==0.15
importlib-metadata==4.0.1
inflect==4.1.0
ipykernel==5.1.3
ipython==7.9.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isodate==0.6.0
jedi==0.15.1
Jinja2==2.10.3
jmespath==0.9.4
joblib==0.14.1
joypy==0.2.2
jsonpatch==1.26
jsonpointer==2.0
jsonschema==3.2.0
jupyter-client==5.3.4
jupyter-core==4.6.1
jupyterhub==1.0.0
jupyterlab==0.35.4
jupyterlab-server==0.2.0
Keras==2.4.3
Keras-Applications==1.0.8
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
librosa==0.7.2
linecache2==1.0.0
llvmlite==0.31.0
Mako==1.1.0
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.2.1
memory-profiler==0.57.0
MiniMock==1.2.8
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mmcv==0.5.7
more-itertools==7.2.0
multiprocess==0.70.10
murmurhash==1.0.5
nbconvert==5.6.1
nbformat==4.4.0
nbgitpuller==0.6.1
nbresuse==0.3.0
networkx==2.4
nibabel==2.3.0
nltk==3.5
nose==1.3.7
notebook==5.7.8
nteract-on-jupyter==2.0.7
numba==0.48.0
numexpr==2.7.1
numpy==1.19.5
numpydoc==1.1.0
oauthlib==3.1.0
olefile==0.46
opencv-python==4.2.0.34
opt-einsum==3.3.0
packaging==20.4
pamela==1.0.0
pandas==0.25.3
pandocfilters==1.4.2
parso==0.5.1
pathy==0.5.2
patsy==0.5.1
pexpect==4.7.0
pickle5==0.0.11
pickleshare==0.7.5
Pillow==8.0.1
pipreqs==0.4.10
plac==0.9.6
plyfile==0.7.2
pmdarima==1.6.1
pomegranate==0.13.5
preshed==3.0.2
prometheus-client==0.7.1
prompt-toolkit==2.0.10
protobuf==3.17.0
psutil==5.6.7
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.0
pycosat==0.6.3
pycparser==2.19
pydantic==1.7.4
pydicom==1.1.0
PyDictionary==1.5.2
Pygments==2.5.1
pygraphviz==1.6
pynrrd==0.4.2
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyQt5==5.15.0
PyQt5-sip==12.8.0
pyrsistent==0.15.7
PySocks==1.7.1
python-dateutil==2.8.1
python-editor==1.0.4
pytorch-ignite==0.3.0
pytorch-nlp==0.4.1
pytorch-pretrained-bert==0.6.2
pytz==2019.3
pyunpack==0.2.2
PyWavelets==1.1.1
PyYAML==5.1.2
pyzmq==18.1.1
rdflib==4.2.2
regex==2020.4.4
requests==2.25.1
requests-oauthlib==1.3.0
resampy==0.2.2
rsa==4.7.2
ruamel-yaml==0.15.46
s3transfer==0.3.3
sacremoses==0.0.35
scikit-image==0.16.2
scikit-learn==0.24.2
scikit-posthocs==0.6.4
scipy==1.4.1
seaborn==0.11.0
Send2Trash==1.5.0
sentencepiece==0.1.83
SimpleITK==2.0.1
six==1.15.0
sklearn==0.0
skrebate==0.61
sktime==0.3.0
smart-open==3.0.0
snowballstemmer==2.0.0
SOMPY==1.1
sounddevice==0.3.15
SoundFile==0.10.3.post1
soupsieve==2.0
spacy==3.0.6
spacy-legacy==3.0.5
spacy-universal-sentence-encoder==0.4.3
Sphinx==3.4.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.3.11
srsly==2.4.1
statsmodels==0.11.1
tabulate==0.8.7
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.1
tensorflow==2.5.0
tensorflow-estimator==2.5.0
tensorflow-gpu==2.5.0
tensorflow-hub==0.12.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
thinc==8.0.3
threadpoolctl==2.1.0
tick==0.7.0.1
tigramite==4.2.1.0
tokenizers==0.8.1rc2
toolz==0.10.0
torch==1.6.0
torch-geometric==1.4.3
torch-scatter==2.0.4
torch-sparse==0.6.1
torchfile==0.1.0
torchvision==0.7.0
torchviz==0.0.1
tornado==6.0.3
tqdm==4.46.0
traceback2==1.4.0
traitlets==4.3.3
transformers==3.1.0
typer==0.3.2
typing-extensions==3.7.4.3
umap-learn==0.4.5
Unidecode==1.1.1
unittest2==1.1.0
urllib3==1.26.4
visdom==0.1.8.9
wasabi==0.8.2
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==2.0.1
wget==3.2
widgetsnbextension==3.4.2
wordcloud==1.6.0
wrapt==1.12.1
yapf==0.30.0
yarg==0.1.9
zipp==3.4.1
